.card {
  border: 1px solid black;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

.card__input {
  align-self: center;
  text-align: center;
  width: 80px;
}

.card__button-delete {
  top: -70px;
  right: -60px;
  position: relative;
}
