.card {
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}

.card__input {
  align-self: center;
  text-align: center;
  width: 120px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  margin: 20px;
}

.card__button-delete {
  width: 30px;
  height: 30px;
  top: -156px;
  right: -101px;
  position: relative;
  background-color: white;
  border-radius: 50%;
  border: 5 black;
  text-align: center;
}

.card__button-copy {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  top: -127px;
  left: -100px;
  position: relative;
  border: 5 black;
}

.card__button-delete:hover,
.card__button-copy:hover {
  background-color: #fecb98;
  transform: scale(1.1);
}
